/* Settings Window css styling */
/* Authored: David Kipnis, 2025 */

.SettingsWindowContainer {
    position: absolute;
    z-index: 99999;
    left: 0px;
    top: 0px;
    width: 25vw;
    height: 100%;
    background-color: rgb(200, 197, 255);
  }