/* this makes the elements be flush with the borders */
body, html { 
  margin: 0;
  padding: 0;

  background-color: var(--main-color);
  transition: background-color 0s;

  overflow: hidden;
  
  --main-color: rgb(30,31,38);
  --secondary-color: white;
  --accent-color: rgb(165, 165, 165); 
  --action-accent-color: rgb(234, 200, 117);

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}

button {
  font-family: inherit;
}

.App {
  width: 100%;
  height: 100vh;
}

  /* blurs everything */
.BlurScreen { 
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  transition: filter 0.2s;

  z-index: 500;
}

.AppContent {
  width: 100%;
  height: 100vh;

  transition: background-color 0.2s;
}

.MobileSupport {
  display: none;
}

@media (max-width: 768px), (orientation: landscape) and (max-height: 500px) {
  .AppContent {
    display: none; /* Hide on mobile */
  }

  .LoginWindowContainer {
    display: none;
  }

  .MobileSupport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }
}